<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/style.css}">
<title>Agregar Estudiantes</title>
</head>
<body>
<div class="Global">
<div class="tarjeta">
	<form th:action="@{/formEstudiante}" th:object="${estudiante}" method="post">
		<h1 th:text="${message}"></h1>
		<h1>Ingresar Estudiante</h1>
		<div class="formulario-contenido">
			<label>Nombre :</label><br>
			<input type="text" th:field="${estudiante.nombre}"><br>
			<span th:errors="${estudiante.nombre}" style="color:red;"></span><br>
			
			<label>Apellido:</label><br>
			<input type="text" th:field="${estudiante.apellido}"><br>
			<span th:errors="${estudiante.apellido}" style="color:red;"></span><br>
			
			<label>Carne:</label><br>
			<input type="number" value="00000000" th:field="${estudiante.carne}"><br>
			<span th:errors="${estudiante.carne}" style="color:red;"></span><br>
			
			<label>Carrera:</label><br>
			<input type="text" th:field="${estudiante.carrera}"><br>
			<span th:errors="${estudiante.carrera}" style="color:red;"></span><br><br>
		</div>
		<input type="submit" value="Agregar estudiante">
	</form><br><br>
	
	<form th:action="@{/bModificar}" th:method="post">
		<div class="formulario-contenido">
			<label>Ingrese el codigo de estudiante::</label><br>
			<input type="number" name="codigo" value="1">
			<input type="submit" name="action" value="Borrar">
			<input type="submit" name="action" value="Editar">
		</div>
		
	</form><br>
	
	<form th:action="@{/filtrar}" th:method="post">

		<div class="formulario-contenido">
			
			<label>Ingrese la cadena por la que desea filtrar (nombre):</label><br>
			<input type="text" name="nombre">
			<input type="submit" value="Filtrar">
		</div>
		
	</form>
		<form th:action="@{/MostrarDTO}" th:method="post">

		<div class="formulario-contenido">
			
			<label>Mostrar DTO</label><br>
			<input type="submit" value="Ver Estudiantes">
		</div>
		
	</form>
	
	<br>
	<form>
		<a href="/listado">Ver todos los estudiantes</a>
	</form>
</div></div>
</body>
</html>