<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/style.css}">

<head>
<meta charset="UTF-8">
<title>Listado</title>
</head>
<body>
	<div class="Global">
	<div class="tarjeta2">
	<h1>Listado de contribuyentes</h1>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>NIT</th>
				<th>Importancia</th>
				<th>Fecha de Ingreso</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${contribuyentes}">
				<td th:text="${c.s_nombre}"></td>
				<td th:text="${c.s_apellido}"></td>
				<td th:text="${c.s_nit}"></td>
				<td th:text="${c.importancia.s_importancia}"></td>
				<td th:text="${c.f_ingresoDelegate}"></td>
			</tr>
		</tbody>
	</table><br>
	
	<input type="button" value="Regresar" onclick="location.href='./inicio'" />
</div></div>
</body>
</html></html>